<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Qaclickacademy_test.listeners"/>
		<listener class-name="resources.ExtentReporterNG"/>
		
	</listeners>
	
	<test name="validateTitle">
		<classes>
			<class name="Qaclickacademy_test.ValidateTitleTest"/>
		</classes>
	</test>

	<test name="loginTest">
		<classes>
			<class name="Qaclickacademy_test.HomePage"/>
		</classes>
	</test>

	<test name="validate">
		<classes>
			<class name="Qaclickacademy_test.ValidateTest"/>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
